@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "../css/media.css";
@import "../css/variables.css";

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph-mobile);
    font-style: normal;
    color: var(--color-primary);
    line-height: 1.6;
    text-align: left;
    overscroll-behavior-y: none;
}

@media(min-width:900px){
    body{
        font-size:var(--text-size-paragraph-desktop);
    }

    h2{
        font-family: var(--font);
        font-weight: 900;
        font-size: 3rem;
        color: var(--color-accent);
        margin: 0;
    }
    .hero-item h2{
        font-family: var(--font);
        font-weight: 900;
        font-size: 3rem;
        color: var(--color-accent);
        margin: 0;

    }
}

.page-wrapper{
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page-header{
    background-color: var(--color-accent);
}    
.page-main{
    background-color: var(--color-accent);
    flex-grow: 1;
}
.page-footer{
    background-color: var(--color-accent);
}
.container{
    background-color: var(--color-primary);
    height: 100%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.page-main .container{
    background-color: var(--color-accent);
}

.footer-container{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

h1{
    font-family: var(--font);
    font-weight: 900;
    font-size: 3rem;
    color: var(--color-accent);
    margin: 0;
}

h2{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 2.25rem;
    color: var(--color-primary);
    margin: 0;
    line-height:initial;
}

h3{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 1.5rem;
    color: var(--color-primary);
    margin: 0;
}

h4{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 1.25rem;
    color: var(--color-primary);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

img{
    border-radius: var(--img-border-radius);
}

.logo_image{
    border-radius: 0;
}

.cta-button-yell{
  text-align: center;
  color: var(--color-accent);
  border-radius: var(--img-border-radius);
  border-style: solid;
  border-width: medium;
  border-color: var(--color-secondary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
.cta-button-yell:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.cta-button-viol{
  text-align: center;
  color: var(--color-primary);
  border-radius: var(--img-border-radius);
  border-style: solid;
  border-width: medium;
  border-color: var(--color-primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
.cta-button-viol:hover{
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.cta-button{
  text-align: center;
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-radius: var(--img-border-radius);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
.cta-button:hover{
    color:var(--color-secondary)
}
/* Header */
.header-container{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container .fa-solid{
    color: var(--color-secondary);
}

.menu{
    display: none;
    flex-direction: column;
    margin-top: 4rem;

}
.menu a{
    color: var(--color-accent);
} 

.ham-icon {
    display: flex;
}
.menu, 
#sidebar-active {
display: none;
}

#sidebar-active:checked ~ .menu {
    display: flex;
}
@media (min-width: 900px){
    .menu{
        display: block;
       
    }
    .menu a{
        color: var(--color-accent);
        display: inline;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
      
    }
    .ham-icon {
        display: none;
  
    }
    
}



/* Footer */

.footer-container-item ul{
    list-style: none;
    padding-left: 0rem;
}
.footer-container-item li{
    text-align: center;
}
.footer-container-item{
    color: var(--color-accent);
    display: block;
}
.footer-container-item a{
    color: var(--color-accent);
}
.footer-container-item p{
    text-align: center;
}

.footer-container-item .fa-brands{
    color: var(--color-secondary);
}
  /* Home */

  /* Hero Section */

  .hero-home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/cute_boy_dressed_space_astronaut_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh;
    margin-bottom: 2.25rem;
    text-align: center;
}
@media(min-width:700px){
    .hero-home{
        background: var(--background-gradient), url('../image/cute_boy_dressed_space_astronaut_desktop_1.jpg') center top no-repeat;
        background-size: cover;
        justify-content: center;
        align-items:self-start;
        text-align: start;
    }
    .hero-item{
        margin-left: 2rem;
    }
}

@media (min-width: 1400px){
    .hero-home{
        background: var(--background-gradient), url('../image/cute-boy-dressed-space-astronaut_desktop_2.jpg') center top no-repeat;
        background-size: cover;
    }
    
}
.hero-item{
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero-item h2{
    color: var(--color-accent);
    margin-bottom: 1.5rem;
}
.hero-item a{
    margin-bottom: 3rem;
    
}

/* Info Section */

.info{
    display: flex;
    flex-direction: column;
    align-items:normal;
    margin-bottom: 2.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
@media (min-width: 600px){
    .info{
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }


}

@media (min-width: 1400px){
    .info{
        justify-content:center;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 14rem;
    }
}


.info-item a{
    text-decoration: underline;
}
.info-item a:hover{
    color: var(--color-secondary);
}
.info-item i{
    margin-top: 10px;
  
}



.info-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

}
.info-item-text{
    margin-left: 2.25rem;
}

/* Services Sections - Exhibitions, Activities ect. */
    
.services{
    background-color: var(--color-background);
}
.services .cta-button-viol{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
} 
.section-name{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
   
}
.services-container{
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 16px;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width:none;
    
}
.services-container::-webkit-scrollbar{
    display:none;
}

.services-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 309px;
    scroll-snap-align: start;
    border-radius: 12px;
    box-shadow: var(--shadow-gradient);
}

.service-info{
    max-width: 309px;
    height: 150px;
    background-color: var(--color-accent);
    border-radius: 0 0 12px 12px; 
    padding-top: 0.75rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.services .exhb{
    width: 309px;
    height: 309px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 0.75rem 0.75rem 0 0;
}
.services-item img{
    border-radius: 0.75rem 0.75rem 0 0;
}
.services-item img:hover{
    opacity: var(--img-opacity);
}
.service-info h4:hover{
    color: var(--color-secondary);
}
.service-info p{
    font-size: var(--text-size-paragraph-mobile);
}

@media (min-width: 412px){
    .services-container{
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 16px;
    }
}

@media (min-width: 1400px){
    .services-container{
        justify-content:center;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 16px;
    }
}

/* News Section*/

.news {
    position: relative;
    background: var(--color-secondary);
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
 
}
.news .exhb{
    position: relative;
    display: flex;
    background-color: var(--color-primary);
    width: 309px;
    height: 309px;
    display: block;
    border-radius: var(--img-border-radius);
    box-shadow: var(--shadow-gradient);
    margin-top: -40px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.news img{
    width: 100%;
    border-radius: var(--img-border-radius);
}
.news img:hover{
    opacity: var(--img-opacity);
}


.news-content{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    align-items: center;
    
}
.news-content p{
    text-align: left;
}

.news-content a{
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
@media (min-width: 600px){
    .news{
        align-items:start;

    }
    .news-content{
        text-align: left;
        align-items: start;
    }

    .news .exhb{
        margin-bottom: 2rem;
    }  
    }
    @media (min-width: 1140px){
        .news{
            flex-direction: row;
            justify-content:space-evenly;
        }
        
        .news .exhb{
            width: 615px;
            height: 615px;
            margin-bottom: 4rem;
        }
       
        .news img{
           width: 615px;
           height: 615px;
        }
        .news-content{
            max-width: 444px;
            margin-top: 8rem;
           
        }

    }


/* Sign In Section*/
.sign-in{
    position: relative;
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
@media(min-width:1140px){
    .sign-in{
        flex-direction: row;
        flex: 1;
        justify-content:flex-start;
        gap: 10rem;
    }
   
}
.sign-in-item{
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;

  
}
.sign-in img{
    width: 100%;
    border-radius: 0;
}

/* Visit-info Page*/
  
.hero-visit{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/newton_science_museum_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 30vh
}

.services-visit-page{
    background-color: var(--color-secondary);
}

  /* Exhibitions Page*/

.hero-exhb{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/plasma_ball_exhibition_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh
}

  /* Life n Universe Exhbition Page */

  .hero-space{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/earth_seen_from_space_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh
}











 
