@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "../css/media.css";
@import "../css/variables.css";

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph-mobile);
    font-style: normal;
    color: var(--color-primary);
    line-height: 1.6;
    text-align: center;
}
.page-wrapper{
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
}
.page-header{
    background-color: var(--color-accent);
}    
.page-main{
    background-color: var(--color-accent);
    flex-grow: 1;
}
.page-footer{
    background-color: var(--color-accent);
}
.container{
    background-color: var(--color-primary);
    height: 100%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.page-main .container{
    background-color: var(--color-accent);
}
.header-container{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.footer-container{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

h1{
    font-family: var(--font);
    font-weight: 900;
    font-size: 3rem;
    color: var(--color-accent);
    margin: 0;
}

h2{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 2.25rem;
    color: var(--color-primary);
    margin: 0;
    line-height:initial;
}

h3{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 1.5rem;
    color: var(--color-primary);
    margin: 0;
}

h4{
    font-family: var(--font);
    font-weight: var(--font-weight-heading);
    font-size: 1.25rem;
    color: var(--color-primary);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

img{
    border-radius: var(--img-border-radius);  
}

.logo_image{
    border-radius: 0;
}
.fa-solid{
    color: var(--color-primary);
  } 

  .cta-button-yell{
  text-align: center;
  color: var(--color-accent);
  border-radius: var(--img-border-radius);
  border-style: solid;
  border-width: medium;
  border-color: var(--color-secondary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
.cta-button-yell:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.cta-button-viol{
  text-align: center;
  color: var(--color-primary);
  border-radius: var(--img-border-radius);
  border-style: solid;
  border-width: medium;
  border-color: var(--color-primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
.cta-button-viol:hover{
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.cta-button{
  text-align: center;
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-radius: var(--img-border-radius);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--font-weight-heading);
  width: 12.5rem;
  display: inline-block;
}
/* Header */
.header-container .fa-solid{
    color: var(--color-secondary);
}
.menu-item a{
    color: var(--color-accent);
}

/* Footer */

.footer-container-item ul{
    list-style: none;
    padding-left: 0rem;
}
.footer-container-item li{
    text-align: center;
}
.footer-container-item{
    color: var(--color-accent);
    display: block;
}
.footer-container-item a{
    color: var(--color-accent);
}
.footer-container-item p{
    text-align: center;
}

.footer-container-item .fa-brands{
    color: var(--color-secondary);
}
  /* Home */

  .hero-home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/cute_boy_dressed_space_astronaut_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh
}
.hero-item{
    margin: 0 2.25rem 0 2.25rem ;
}
.hero-item h2{
    color: var(--color-accent);
    margin-bottom: 1.5rem;
}
.hero-item a{
    margin-bottom: 4.75rem;
}

.info-item a{
    text-decoration: underline;
}

.services{
    background-color: var(--color-background);
}

.news{
    background-color: var(--color-secondary);
}

.sign-in-item{
    background-color: var(--color-secondary);
}

  /* Visit-info */
  
.hero-visit{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/newton_science_museum_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 30vh
}
  /* Exhibitions */

.hero-exhb{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/plasma_ball_exhibition_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh
}

  /* Space */

  .hero-space{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--background-gradient), url('../image/earth_seen_from_space_mobile.jpg') center top no-repeat; 
    background-size: cover;
    min-height: 95vh
}








  /* Header */

 
  .menu, 
#sidebar-active {
    display: none;
}
#sidebar-active:checked ~ .menu {
    display: block;
}